<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollo Django</title>
    <link rel="shortcut icon" type=image/jpg href="../../img/logo/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../../css/stylesBlue.css">

</head>
<body>
    <div class="context">
        <a href="../6/index.html">Volver</a>
        <a href="../../index.html">Inicio</a>
        <a href="../8/index.html">Siguiente</a>
    </div>
    <div class="contenido_p" id="arriba">
        <p>Desarrollo Django</p>
    </div>

    <h1 class="contenido_p">7 - Herencia de Templates de Django (Clase 14)</h1>
    <ul class="contenido_p">
        <li>
            <a href="#1">1. Herencia de Plantillas</a>
        </li>
        <li>
            <a href="#2">2. Herencia de Plantillas (tags)</a>
        </li>
        <li>
            <a href="#3">3. Herencia de Plantillas (enfoques)</a>
        </li>
        <li>
            <a href="#4">4. Herencia de Plantillas (enfoque recomendado)</a>
        </li>
        <li>
            <a href="#5">5. Gestión de archivos estáticos (js, css, etc)</a>
        </li>
    </ul>

    <p class="contenido_p" id="1">1. Herencia de Plantillas</p>
    <pre>
        <img src="../../img/extras/7-1.png" alt=""> 
        * Incluimos dentro de otro djangohtml. 
    </pre>
    <div class="context">
        <a href="#arriba">Arriba</a>
    </div>

    <p class="contenido_p" id="2">2. Herencia de Plantillas (tags)</p>
    <pre>
        <img src="../../img/extras/7-2.png" alt="">  
        De esta manera evitamos lo de arriba, evitamos duplicar

        block:
        base.html: En el base declaramos el estilo general, luego podemos pisarlo
        <code>
        < !DOCTYPE html>
        < html Lang=en"> 
            < head> 
                < link rel="stylesheet" href="style.css">
                < title>{% block titulo %}Mi sitio{% endblock %}< /title>     -> El nombre se lo ponemos como deseamos
            < /head> 
            < body> 
                < header id=“navbar">                                         -> El nav queda fijo.
                < /header> 

                < main id="contenido"> 
                    {% block contenido %}{% endblock %}                     -> Contenido
                < /main> 
            < /body> 
        < /html>
        </code> 

        blog.html
        <code>
        {% extends "base.html" %}                       -> Extendemos

        {% block titulo %}Mi blog{% endblock %}         -> El titulo decidimo modificarlo
        {% block contenido %}
            {% for entry in blog_entries %}
                < h2>{{ entry.title }}< /h2> 
                < p>{{ entry.body }}< /p> 
            {% endfor %}
        {% endblock %}
        </code>
    </pre>
    <div class="context">
        <a href="#arriba">Arriba</a>
    </div>
    
    <p class="contenido_p" id="3">3. Herencia de Plantillas (enfoques)</p>
    <pre>
        <img src="../../img/extras/7-3.png" alt="">  
        
        * Este es mejor que el que sigue
        Templates a nivel proyecto  -> Recomendado por simplicidad y sobreescritura de apps importada
        
            templates/              *En la raíz del proyecto general, tendremos la carpeta templates
            |base.html
            |... (otros templates generales al sitio)
            |----|app/                                      -> Luego por app tendremos los templates.
            |    |--(“app" templates van acá)
        
        *No tan recomendable
        Templates a nivel aplicación
            app/
            |---templates/
            |   |---app/
            |   |   |---... (“app" templates van acá)
            templates/
            |---base.html
            |---... (otros templates generales al sitio)        
    </pre>
    <div class="context">
        <a href="#arriba">Arriba</a>
    </div>
    <p class="contenido_p" id="4">4. Herencia de Plantillas (enfoque recomendado)</p>
    <pre>
        <img src="../../img/extras/7-4.png" alt="">  

        Dos capas:  Recomendado cuando hay un diseño consistente a través de las distintas aplicaciones
        * Es decir, lo usamos cuando tenemos un mismo estilo para todas las aplicaciones
        templates/
        |---base.html
        |---dashboard.html # extends base.html
        |---profiles/
        |   |---profile_detail.html # extends base.html
        |   |---profile_form.html # extends base.html


        Tres capas: Recomendado cuando cada sección (aplicación) requiere tener un diseño distinto y distintivo
                * Recomendable cuando el estilo va variando de acuerdo a las apps.
        templates/
        |---base.html
        |---dashboard.html # extends base.html
        |---profiles/
        |   |---base_profiles.html # extends base.html
        |   |---profile_detail.html # extends base_profiles.html
        |   |---profile_form.html # extends base_profiles.html
    </pre>
    <div class="context">
        <a href="#arriba">Arriba</a>
    </div>

    <p class="contenido_p" id="5">5.Gestión de archivos estáticos (js, css, etc)</p>
    <pre>
        <img src="../../img/extras/7-5.png" alt="">  
        
        <code>
        INSTALLED_APPS          ->      django.contrib.staticfiles
        settings.py             ->      STATIC_URL = '/static/'
        
        templates               ->      {% load static %}
                                            < img src="{% static ‘app/ejemplo.jpg' %}" alt="Mi imagen">
        
        * Los estáticos quedan "guardados" y seteados dentro de la carpeta static.
        STATICFILES_DIRS        ->  
                                        STATICFILES_DIRS = [ 
                                            BASE_DIR / "static", 
                                            “C:/Users/user/static_extra", 
                                        ]
                                        STATICFILES_DIRS = [ 
                                            # ... ("downloads", "/opt/webfiles/stats"),    -> Respectivos Prefijos
                                        ]
        
                            < a href="{% static 'downloads/polls_20101022.tar.gz' %}">
        </code>
        
        * Todo estático específico de una app, lo guardamos dentro del app..
        Por ejemplo dentro de languages.html que hereda de base.html
        Las imágen la buscamos en el static, dentro de la app hola_mundo
        
        <code>
            < img src="{% static '/hola_mundo/img/DVO_photo-750x500.png' %}"
        </code>
        O bien para los archivos js o css       
        <code>
            < script src="{% static '/js/bootstrap.bundle.min.js' %}">< /script>
            < link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" />
        </code>
        
        
        
        ----------------------- Para manejar los static.. 
        Setearlos en los settings..
        <code>
        INSTALLED_APPS = [
            'django.contrib.admin',
            'django.contrib.auth',
            'django.contrib.contenttypes',
            'django.contrib.sessions',
            'django.contrib.messages',
            'django.contrib.staticfiles',               -> Seteado por defecto
            'hola_mundo'
        ]
        
        
        STATIC_URL = '/static/'                         -> Guardamos en el static... Todo la data que deseemos
                                                        Diferencia, en desarrollo tenemos todo a mano, en producción juntamos y centralizamos TODO, en una carpeta particular.
        
        STATIC_ROOT = BASE_DIR / "static_root"          -> Para pasar todo a modo de despliegue
        
        </code>
        *Separar entre desarrollo y despliegue.. 
        
        Luego procedemos a eso.. Es como el build que hacemos con react.
        
            python .\manage.py collectstatic            -> Busca todos los static en modo desarrollo
                                                        * Pasa todos los archivos a una carpeta que especifiquemos, ejemplo.. static_root
                                                        * Esa carpeta static_root será la que usemos en el ambiente de producción
        
        Si estamos en modo DEBUG = True
            -> Buscará todos los archivos en modo desarrollo..
        
        Si estamos en modo DEBUG = false
            - Buscará los archivos en la carpeta que especificamos a través del collectstatic, como para modo producicón
            
        
        ----------------------- Ejemplo práctico..
        <code>
            < main>                          -> En el base.html, dejamos espacio para rellenar a los que extiendan de este base.html
              {% block contenido %}
              
              {% endblock contenido %}
            < /main>
          < /body>
        < /html>
        </code>
        
        
                                    -> Ahora desde languages.html
        <code>
        {% extends 'base.html' %}   - Extiende el bloque base, y luego lo podemos modificar.
        {% block contenido %}
          {% load static %}
          
          < div class="col-md-12 text-center">
            < button type="button"
                    class="btn btn-primary align-self-center"
                    data-bs-toggle="collapse"
                    data-bs-target="#lengues_for">
              < img src="{% static '/hola_mundo/img/DVO_photo-750x500.png' %}"
                   width="400px"
                   height="200px">
            < /button>
            {% comment %} < div id="demo" class="collapse">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            < /div> {% endcomment %}
            < ul id="lengues_for"
                class="list-group list-group-numbered align-items-center collapse">
              {% for lenguaje in lenguajes %}
                < li class="list-group-item d-flex justify-content-between align-items-start">
                  < div class="ms-2 me-auto">
                    < div class="fw-bold">Lenguaje< /div>
                    {{ lenguaje }}
                  < /div>
                < /li>
              {% endfor %}
            < /ul>
          < /div>
          < div class="col-md-12 text-center">
            < button type="button"
                    class="btn btn-primary align-self-center"
                    data-bs-toggle="collapse"
                    data-bs-target="#lengues_cycle">
              < img src="{% static '/hola_mundo/img/top-10-languages-used-on-the-internet.png' %}"
                   width="400px"
                   height="200px">
            < /button>
            < ul id="lengues_cycle"
                class="list-group list-group-numbered align-items-center collapse">
              {% for lenguaje in lenguajes %}
                < li style="color: {% cycle 'blue' 'red' %}">
                  < div class="ms-2 me-auto">
                    < div class="fw-bold">Lenguaje< /div>
                    {{ lenguaje | upper }}
                  < /div>
                < /li>
              {% endfor %}
            < /ul>
          < /div>
        {% endblock %}
        </code>
        
        * Considerar el orden de las carpetas.        
    </pre>
    <div class="context">
        <a href="#arriba">Arriba</a>
    </div>
    
    <div class="context">
        <a href="../6/index.html">Volver</a>
        <a href="../../index.html">Inicio</a>
        <a href="../8/index.html">Siguiente</a>
    </div>

    <script src="js/01.js"></script>

</body>
</html>